{{ form_start(form) }}
{{ form_errors(form) }}

{{ form_row(form.name) }}
<<<<<<< HEAD
{{ form_row(form.media.file) }}
<button class="btn btn-success ml-2 float-right">{{ button_label|default('Create') }}</button>
=======
{{ form_row(form.slug) }}
<button>{{ button_label|default('Create') }}</button>
>>>>>>> 578f5ade2c2cb091db3106fa4a69dd5661de45bf
{{ form_end(form) }}
