{{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}
{{ form_errors(form) }}
{{ form_row(form.name) }}
{{ form_row(form.description) }}
{{ form_row(form.urlGithub) }}
{{ form_row(form.urlWebsite) }}
{{ form_row(form.technos) }}
{{ form_row(form.content) }}
{{ form_row(form.slug) }}
{{ form_row(form.media.file) }}
<button class="btn btn-success ml-2 float-right">{{ button_label|default('Create') }}</button>
{{ form_end(form) }}
