<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

	</head>

	<body>
		{% for flash_message in app.session.flashBag.get('success') %}
			<div class="alert alert-success" role="alert">
				<strong>Superbe !</strong>
				{{ flash_message }}
			</div>
		{% endfor %}

		{% for flash_message in app.session.flashBag.get('error') %}
			<div class="alert alert-danger" role="alert">
				<strong>Oops !</strong>
				{{ flash_message }}
			</div>
		{% endfor %}
		{{include ('home/partials/_header.html.twig')}}

		{% block body %}{% endblock %}
		{{include ('home/partials/_footer.html.twig')}}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}

		{% endblock %}
	</body>
</html>
